# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and OS configurations
.vscode/
.idea/
.DS_Store
Thumbs.db

*.pyc